VITE_ALCHEMY_API_KEY=
VITE_ALCHEMY_NETWORK=eth-sepolia
VITE_RESERVOIR_API_KEY=
VITE_RESERVOIR_BASE_URL=https://api-sepolia.reservoir.tools
VITE_PINATA_JWT=
VITE_AUCTION_ESCROW_ADDRESS=
VITE_PUBLIC_RPC_URL=
VITE_GROQ_API_KEY=

SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
